<div class="col-md-12 main-container">
  <div class="row">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>My Skills</th>
                <th>Percentage</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>HTML</td>
                <td>90</td>
              </tr>
              <tr>
                <td>CSS</td>
                <td>80</td>
              </tr>
              <tr>
                <td>JavaScript</td>
                <td>65</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="card" style="display: block">
      <h4>Pie Chart</h4>
      <div id="piechart" class="piechart mt-2"></div>
      <span class="dot ml-2" style="background-color: pink;"></span>HTML
      <span class="dot ml-2" style="background-color: lightblue;"></span>CSS
      <span class="dot ml-2" style="background-color: orange;"></span>JavaScript
    </div>
    <div class="card">
      <h4>My Skills</h4>

      <p>HTML</p>
      <div class="bar-container">
        <div class="skills html">90%</div>
      </div>

      <p>CSS</p>
      <div class="bar-container">
        <div class="skills css">80%</div>
      </div>

      <p>JavaScript</p>
      <div class="bar-container">
        <div class="skills js">65%</div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Subjects</th>
                <th>Percentage</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Maths</td>
                <td>95</td>
              </tr>
              <tr>
                <td>Physics</td>
                <td>70</td>
              </tr>
              <tr>
                <td>Chemistry</td>
                <td>75</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="card" style="display: block">
      <h4>Pie Chart</h4>
      <div  class="piechart2 mt-2"></div>
      <span class="dot ml-2" style="background-color: red;"></span>Maths
      <span class="dot ml-2" style="background-color: blue;"></span>Physics
      <span class="dot ml-2" style="background-color: green;"></span>Chemistry
    </div>
    <div class="card">
      <h4>Subjects</h4>

      <p>Maths</p>
      <div class="bar-container">
        <div class="skills maths">95%</div>
      </div>

      <p>Physics</p>
      <div class="bar-container">
        <div class="skills physics">70%</div>
      </div>

      <p>Chemistry</p>
      <div class="bar-container">
        <div class="skills chemistry">75%</div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Languages</th>
                <th>Rating</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Telugu</td>
                <td>10</td>
              </tr>
              <tr>
                <td>Hindi</td>
                <td>8</td>
              </tr>
              <tr>
                <td>English</td>
                <td>9</td>
              </tr>
              <td>Tamil</td>
                <td>5</td>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="card" style="display: block">
      <h4>Pie Chart</h4>
      <div  class="piechart3 mt-2"></div>
      <span class="dot ml-2" style="background-color: yellow;"></span>Telugu
      <span class="dot ml-2" style="background-color: grey;"></span>Hindi
      <span class="dot ml-2" style="background-color: purple;"></span>English
      <span class="dot ml-2" style="background-color: black;"></span>Tamil
    </div>
    <div class="card">
      <h4>Languages</h4>

      <span>Telugu</span>
      <div class="bar-container">
        <div class="skills Telugu">10%</div>
      </div>

      <span>Hindi</span>
      <div class="bar-container">
        <div class="skills Hindi">8%</div>
      </div>

      <span>English</span>
      <div class="bar-container">
        <div class="skills English">9%</div>
      </div>
      <span>Tamil</span>
      <div class="bar-container">
        <div class="skills Tamil">5%</div>
      </div>
    </div>
  </div>
</div>
